
@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #FAF3E0;
    font-family: 'Crimson Text', sans-serif;
    color: #5C3B28;
}

h1 {
    display: inline;
    background-color:#DCC5A8;
    margin: 2rem;
}

header {
    display: flex;
    text-align: center;
    justify-content: center;


}

#home {
    background-image: url(https://images.pexels.com/photos/298217/pexels-photo-298217.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: auto;
}

p {
    padding: 10px;
    margin: auto;
    border: #5C3B28;
    color: #5C3B28;
}

nav {
    background-color: #DCC5A8;
    color: #5C3B28;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    margin: 0;
    gap:0;
    padding: 0;

}

#recipes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
    padding: 0px;
    margin:20px;
    height: 80vh;
    width: 80vw;
    gap: 0;
    
}

.recipe-box {
    border: 5px solid #5C3B28;
    height: 25vh;
    width: 100vw;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
    
    
}

a {
    text-decoration: none;
    color: #5C3B28;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a:hover {
    color: #5C3B28;
}

.allcaps {
    text-transform: uppercase;
}

.featured {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 3;
    border: solid #5C3B28;
    gap: 5px;
    height: 33vh;
    width: auto;
}

.featuredimg {
    height: auto;
    width: 100%;

}



footer {
    background-color: #A77249;
    text-transform: uppercase;
    position: fixed;
    bottom: 0px;
    right: 0px;
    align-content: center;
    min-width: 100%;
}