/* Below is all the basic css code used for all the .html pages*/

body {
    margin: 0;
    padding: 0;
    background-color: #FAF3E0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #5C3B28;
    overflow-x: hidden;
}

h1 {
    display: inline;
    background-color:#FAF3E0;
    padding: 5px;
    font-size: 6rem;
    border-color: #5C3B28;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    text-align: center;
    font-size: x-large;
    margin: 12px;
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

p {
    margin: auto;
    border: #5C3B28;
    color: #5C3B28;
}

nav {
    background-color: #FAF3E0;
    color: #5C3B28;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    margin: 0;
    gap:0;
    padding: 0;
    font-size: xx-large;
    
}

a {
    text-decoration: none;
    color: #5C3B28;
    text-align: center;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    padding: 5px;
}

a:hover {
    color:antiquewhite;
    background-color: #5C3B28;
}

.allcaps {
    text-transform: uppercase;
}

footer {
    display: flex;
    background-color: #A77249;
    text-transform: uppercase;
    align-items: center;
    min-width: 100%;
    height: 10vh;
    justify-content: center;
    color: #FAF3E0;
}

footer a {
    color: #FAF3E0;
    text-decoration: underline;
}

/* Below is the following css code for the bakery.html page (homepage)*/

#home {
    background-image: url(https://images.pexels.com/photos/298217/pexels-photo-298217.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: auto;
    border: solid #5C3B28;
}

.p-section {
    margin: 20px;
}

.featured {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid #5C3B28;
    gap: 5px;
    height: 20vh;
    width: auto;
    background: url('https://images.services.kitchenstories.io/LHREzCi_pSQdXjKeo-qghcd-f2M=/3840x0/filters:quality(85)/images.kitchenstories.io/wagtailOriginalImages/A1050-lisa-final.jpg') center center / cover no-repeat fixed;    align-items: center;
    align-items: center;
}

#feature-font-background {
    background: #FAF3E0;
}

#feature-a {
    background-color: #FAF3E0;
    text-decoration: underline;
}

#feature-a:hover {
    background-color: #5C3B28;
    color:#FAF3E0;
}

video {
    display: flex;
    justify-content: center;
    margin:2% 10%;

}

/* Below is the following css code for the recipes.html page*/

#recipes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
    padding: 0px;
    height: 80vh;
    width: 80vw;
    gap: 0;
    
}

.recipe-box {
    border: 5px solid #5C3B28;
    height: 30vh;
    width: 100vw;
    background-color: antiquewhite;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
}

.recipe-box a {
    font-size: 3rem;
}

.recipe-box p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 3rem;
}

.background-box {
    display: flex;
    flex-direction: column;
    background-color:#FAF3E0;
    border: solid #5C3B28;
    border-radius: 5px;
    padding: 10px;
    margin: 25px;
    width: 50vw;
}

.background-box h4 {
    font-size: 2rem;
}

.ingredients {
    display: flex;
    flex-direction: column;
    background-color:#FAF3E0;
    border: solid #5C3B28;
    border-radius: 5px;
    padding: 5px;
    margin: 25px;
    width: 50vw;
    float: right;
}

.method {
    display: flex;
    flex-direction: column;
    background-color:#FAF3E0;
    border: solid #5C3B28;
    border-radius: 5px;
    padding: 5px;
    margin: 25px;
    width: 50vw;
    font: 2rem;
}

#choco-chips {
    padding: 1rem 0;
    background: url('https://images.services.kitchenstories.io/LHREzCi_pSQdXjKeo-qghcd-f2M=/3840x0/filters:quality(85)/images.kitchenstories.io/wagtailOriginalImages/A1050-lisa-final.jpg') center center / cover no-repeat fixed;
    border:solid #5C3B28;
    width: 100%;
}

#banana-bread {
    padding: 1rem 0;
    background: url('https://diethood.com/wp-content/uploads/2011/04/morning-glory-muffin-4.jpg') center center / cover no-repeat fixed;
    border:solid #5C3B28;
    width: 100%;
}

#apple-pie {
    padding: 1rem 0;
    background: url('https://daddioskitchen.com/wp-content/uploads/2022/11/IMG-2885.jpg') center center / cover no-repeat fixed;
    border:solid #5C3B28;
    width: 100%;
}

#vanilla-cake {
    padding: 1rem 0;
    background: url('https://assets.bonappetit.com/photos/639cb6ad4faf0da335169c77/1:1/w_2560%2Cc_limit/20221215-1222-SEO-RECIPES-25192%25201-HIRES.jpg') center center / cover no-repeat fixed;
    border:solid #5C3B28;
    width: 100%;
    object-fit: contain;
}

/* Below is the following css code for the whatscooking.html page*/

#content-form {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    padding: 5%;

}

fieldset {
    margin: 0 10%;
    padding: 5%;
    text-transform: capitalize;
}

.your-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}